
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.min.css">
		<link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">

		<script src="/bower_components/angular/angular.js"></script>
		<script src="/js/crypto.js"></script>
		<script src="/js/app.js"></script>
	</head>
	<body ng-app="bc">
		<div ng-controller="CryptCtrl">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">CryptKeep</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li ng-class="{'active' : encrypt}"><a ng-click="showEncrypt()" href="">Encrypt</a></li>
							<li ng-class="{'active' : !encrypt}"><a ng-click="showDecrypt()" href="">Decrypt</a></li>
							<li><a target="_blank" href="http://www.bitsie.com">About</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</nav>

			<div id="main" class="container">

				<div class="hidden-sm hidden-xs col-md-2">
					<img src="/img/lock.png" class="img-responsive" alt="" />
				</div>
				<div class="col-md-10">
					<div class="intro">
						<p>Type or paste some text in the text area below, along with a password used to encrypt the message. Then simply share the link you are provided to another person, and have them type in the password to decrypt the message. We recommend communicating the password in a secure manner, such as in-person or non-electronically.</p>

						<p>No information is ever communicated back to or stored on our servers. Still unsure? Check out the <a href="http://www.github.com/bitsiecom/cryptkeep">source code</a> and run your own copy!</p>
					</div>

					<div class="clearfix"></div>

					<form ng-show="encrypt" class="form">
						<div class="form-group">
							<label>Your message:</label>
							<textarea ng-model="enc_message" rows="4" class="form-control"></textarea>
						</div>
						<div class="form-group">
							<label>Password:</label>
							<input ng-model="enc_password" type="password" class="form-control" />
						</div>
						<div class="form-group well well-success" ng-show="enc_result">
							<label>Encrypted message:</label>
							<textarea ng-model="enc_result" readonly rows="4" class="form-control"></textarea>
						</div>
						<div class="form-group">
							<button ng-click="encrypt()" class="btn btn-success">Encrypt Message</button>
						</div>
					</form>

					<form ng-show="!encrypt" class="form">
						<div class="form-group">
							<label>Encrypted message:</label>
							<textarea ng-model="dec_message" rows="4" class="form-control"></textarea>
						</div>
						<div class="form-group">
							<label>Password:</label>
							<input ng-model="dec_password" type="password" class="form-control" />
						</div>
						<div class="form-group well well-success" ng-show="dec_result">
							<label>Decrypted message:</label>
							<textarea ng-model="dec_result" readonly rows="4" class="form-control"></textarea>
						</div>
						<div class="form-group">
							<button ng-click="decrypt()" class="btn btn-success">Decrypt Message</button>
						</div>
					</form>
				</div>
			</div><!-- /.container -->

			<div class="container">
				<footer>
					<p>&copy; 2015 <a href="http://www.bitsie.com">Bitsie</a>. MIT License. <a href="/terms">Terms of Service</a>. <a href="http://www.github.com/bitsiecom/cryptkeep">Source Code</a></p>
				</footer>
			</div>
		</div>

	</body>
</html>
